---
layout: default
---

<div id="main">
    <section id="post-header" class="one dark cover">
        <div class="container">

            <header>
                <h2 class="alt">{{ page.title }}</h2>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            </header>

        </div>
    </section>

    <section id="post-content" class="two">
        <div class="container">

            <p>
                {{ content }}
            </p>

        </div>
    </section>

</div>